parameters:
    level: 5
    paths:
        - Plugin
        - Registry
        - registration.php
    excludePaths:
        - vendor/*
        - .git/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
